.header{
    margin-bottom: 30px;
}
.header__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 25px;
    border-bottom: 1px solid #fff;

    .header__title{
        text-transform: uppercase;
        color: #fff;
        font-weight: 700;
        font-size: 22px;
        letter-spacing: 1px;
    }
    .header__btn{
        display: inline-block;
        padding: 8px 16px;
        border-radius: 8px;
        border: none;
        outline: none;
        cursor: pointer;
        font-weight: 700;
        font-size: 14px;
        transition: all .2s ease;
        &:hover{
            opacity: 0.6;
        }
    }
}